# Yahoo Finance

In [ ]:
# uncoment if you need to install
#!pip install yfinance

In [2]:
import pandas as pd
import yfinance as yf
import os

# path for the folder "project"
path = "C:\\Users\\pedro\\OneDrive\\NYU\\CSS\\II. Data Skills\\project"
os.chdir(path)

## S&P 500 data

In [3]:
snp = yf.Ticker("^GSPC")

In [21]:
snp_data = snp.history(period="max")

In [22]:
snp_data = snp_data.reset_index()
snp_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0,0
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0,0
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0,0
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0,0
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0,0

In [23]:
snp_data["Date"] = pd.to_datetime(snp_data["Date"].dt.date)
snp_data = snp_data[["Date","Close"]]
snp_data = snp_data.rename(columns = {"Date":"date","Close":"value"})
snp_data["series_id"] = "GSPC"
snp_data["series_name"] = "S&P 500 Index"
snp_data = snp_data[["series_id","date","value","series_name"]]
snp_data.head()

  series_id       date      value    series_name
0      GSPC 1927-12-30  17.660000  S&P 500 Index
1      GSPC 1928-01-03  17.760000  S&P 500 Index
2      GSPC 1928-01-04  17.719999  S&P 500 Index
3      GSPC 1928-01-05  17.549999  S&P 500 Index
4      GSPC 1928-01-06  17.660000  S&P 500 Index

In [25]:
# save as parquet file:
snp_data.to_parquet("data\\monetary_market\\data_yf_snp500.parquet")